*{
    /* scroll-snap-type: proximity; */
    scroll-behavior: smooth;
}

div{
    width: 100%;
    height: 100vh;
    /* scroll-behavior: unset; */
    /* scroll-behavior: initial; */
    /* scroll-behavior: smooth; */
    /* scroll-behavior: inherit; */
    
}
.d1{
    background-color: rebeccapurple;
}
.d2{
    background-color: rgb(153, 109, 51);
}
.d3{
    background-color: rgb(51, 153, 51);
}
.d4{
    background-color: rgb(153, 51, 56);
}